@use "sass:color";
$color-primario: #F1EAEA;
$color-secundario:#BBBEA0;
$color-terciario:#757767;
$color-oscuro:#000;
$color-blanco:#fff;
$color-gris:#808080;

//colores de la marca
$color-f:  #FF6A00;
$color-f3:  rgb(255, 106, 0);

//colores de personalizacion
$color-negro:#000;
$color-gris:#808080;
$color-naranja:#FF6A00;
$color-rosado:#FFB6C1;
$color-azul:#191970;
$color-morado:#800080;
$color-verde:#008000;
$color-amarillo:#FFD700;


