@use "base/variables" as v;
@use "base/mixins" as m;

.producto {
  @include m.tablet {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .img-producto {
    .img-fondo{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5rem;
      @include m.tablet{
        flex-direction: row;
      }
      .cambio-bg{
        width: 250px;
        height: 250px;
        border: 2px solid #ccc;
        margin-top: 20px;
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }
      }
      .texto-insertar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: .5rem;
        .salida{
            padding: 1rem;
            display: inline-block;
            font-size: 2.2rem;
        }
    }
    }
  }
  .informacion-general {
    padding: 0 1rem;
    text-align: start;
    h2 {
      font-size: 2.4rem;
      font-weight: 700;
    }
    .precio {
      font-size: 2.4rem;
      font-weight: 900;
      color: v.$color-terciario;
    }
    p {
      font-size: 1.7rem;
      font-weight: 200;
    }
    .form-etiqueta-perro {
      h3 {
        font-size: 2rem;
      }
      .imagenes-galeria{
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        img{
          cursor: pointer;
            width: 5rem;
            height: 5rem;
        }
        img:hover{
          border: solid 1px v.$color-detalles;
          transform: scale(1.1);
        }
      }
      .color-llavero{
        .color-btn{
          border: none;
          width: 40px;
          height: 40px;
          border-radius: 6px;
          cursor: pointer;
          margin-right: 5px;
        }
      }
      .informacion-llavero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
        h4 {
          font-size: 1.7rem;
        }
        input {
          padding: 0.5rem;
          border: solid 1px v.$color-secundario;
          border-radius: 0.4rem;
          font-size: 1.6rem;
          width: 25rem;
        }
      }
      .form-border{
        border-left: solid 1rem v.$color-secundario;
        padding-left: 1rem;
      }
      .tamaño-llavero {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 1rem 0;
        h3 {
          font-size: 2rem;
        }
        button {
          padding: 0.5rem;
          background-color: transparent;
          border: solid 1px v.$color-secundario;
          border-radius: 0.4rem;
          font-size: 1.6rem;
          width: 25rem;
          cursor: pointer;
        }
      }
      .boton-envio {
        padding: 1.5rem 0;
        background-color: v.$color-secundario;
        border-radius: 0.4rem;
        border: none;
        color: v.$color-blanco;
        font-size: 2rem;
        font-weight: 700;
        width: 100%;
        cursor: pointer;
      }
    }
    .descripcion-etiqueta-perro {
      margin: 2rem 0;
    }
  }
  .accesorios-recomendados {
    @include m.tablet {
      grid-column: 1 / 3;
    }
    h2 {
      text-align: start;
      font-size: 2.4rem;
      font-weight: 700;
    }
  }
}
