@use "base/variables" as v;
@use "base/mixins" as m;

.sobre{
    margin: 2rem auto;
    .sobre-contenido{
        text-align: start;
        padding: 1.5rem;
        .sobre-imagen{
            
        }
        span{
            font-weight: 600;
            color: v.$color-detalles;
        }
        h3{
            margin-bottom: 1rem;
        }
        h4{
            margin: 2rem 0 1rem 0;
        }
        .contenedor-sobre{
            margin: 2rem 0;
        }
        ul{
            list-style-type: circle;
            font-size: 2rem;
            @include m.tablet{
                font-size: 1.8rem;
            }
        }
    }
}

